NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=el-batal-express-956ae.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://el-batal-express-956ae-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=el-batal-express-956ae
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=el-batal-express-956ae.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=877386066216
NEXT_PUBLIC_FIREBASE_APP_ID=1:877386066216:web:73a1f9c78d7e9751cd081d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-ZX4RWJPBPL
